<div class="center hero-unit">
	<h2 class="welcome">Welcome to the Bazaar World of Gaming!</h2>
	<%= render 'game/searchBox' %>
	<h3>New here? <%= link_to "Sign up",   signup_path %> Today!</h3> 
</div>
