// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#top{float:left;}
#addgame{padding-top:20px;}
#info{float:left; width:300px;}
#top-cont{padding-top:80px;}
.title{
}
#sales{float:left;}
.button{padding-bottom:20px;}
.data{
}
.Input {
  display: inline;
}
input#low{
 width:10%;
}
input#high{
 width:10%;
}

td{padding: 5px;}

.Container{
padding-left:50px;
}

.SearchTitle{
margin:0;
padding-top:50px;
padding-bottom:20px;
padding-left:20px;
}
.SearchResult{
margin:0;
padding-left:20px;
}
.boxArt {
padding-top:10px;
}

.description {
overflow: hidden;
height: 65px;
}
.releaseDate {
margin-top:10px;
padding-bottom:0px;
}

fieldset.search-box {
	width:75%;
    border: 2px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    -moz-border-radius: 15px;
	border-radius: 15px;
}

legend.search-box {
	font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:80px;
    padding:0 10px;
    border-bottom:none;
}
