<footer class="footer">
  <div class="container">
  <small>
    <b>Copyright &#169; 2014 Bazaar Studios Inc.</b> All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><a href="https://wiki.engr.illinois.edu/display/cs428sp14/The+Bazaar+World+of+Gaming">Visit Our Wiki</a></li>
    </ul>
  </nav>
</div>
</footer>